body, html {
    overflow: hidden;
    padding: 0;
    margin: 6px;
    border: 0;
}

html {
    font-family: sans-serif;
}

body {
    overflow-x: auto;
    width: 100%;
}

body::-webkit-scrollbar {
    min-width: 10px;
    min-height: 10px;
    color: #ccc;
    background-color: #ccc;
}

body::-webkit-scrollbar-thumb {
    min-width: 10px;
    min-height: 10px;
    background-color: #aaa;
}

body::-webkit-scrollbar-button { width: 0; }
body::-webkit-scrollbar-corner { width: 0; }

.container {
    height: calc(100vh - 30px);
    flex-direction: column;
    padding: 9px;
}

.content {
    flex: 1;
    box-sizing: border-box;
}

#toolbar {
    width: auto;
}

#saron-table tr:nth-child(even) {
    background-color: #eee;
}

#uploadtools {
    margin-bottom: 14px;
}

.jtoolbar .jtoolbar-label, body {
    font-family: Verdana;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.1fr 2.8fr;
    grid-gap: 20px;
}

.input {
    border: 1px solid rgb(161, 161, 161);
    width: 110px;
}

.btn {
  padding: 6px;
  margin: 0 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #6d7381;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #4585d3;
}

#custom-parameters {
    margin-left: 10px;
    display: inline-block;
}

#custom-parameters * td {
    padding-right: 15px;
}

#download-parameters {
    margin-top: 20px;
}

#download-parameters > * {
    vertical-align: top;
}
