:root {
    --button-color: rgb(41, 139, 168);
    --active-color: #4974c5;
	--font-family: sans-serif
}

body, html {
	overflow: hidden;
	padding: 0;
	margin: 6px;
	border: 0;
}

html {
	font-family: var(--font-family);
}

body {
	overflow-x: auto;
	width: 100%;
}

body::-webkit-scrollbar {
	min-width: 10px;
	min-height: 10px;
	color: #ccc;
	background-color: #ccc;
}

body::-webkit-scrollbar-thumb {
	min-width: 10px;
	min-height: 10px;
	background-color: #aaa;
}

body::-webkit-scrollbar-button { width: 0; }
body::-webkit-scrollbar-corner { width: 0; }

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: var(--active-color);
}

#toolbar {
	width: auto;
}

#saron-table {
	width: 280px;
	max-height: 340px !important;
	min-height: 340px !important;
}

#saron-table tr:nth-child(even) {
	background-color: #eee;
}

#importtools {
	margin-bottom: 14px;
}

.jtoolbar .jtoolbar-label, body {
	font-family: Verdana;
}

.grid-container {
	display: grid;
	grid-template-columns: 0.5fr 2.8fr;
	grid-gap: 40px;
	height: 300px !important;
	max-height: 300px !important;
	min-height: 300px !important;
}

.input {
	border: 1px solid rgb(161, 161, 161);
	width: 110px;
}

.btn {
  padding: 6px;
  margin: 0 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #6d7381;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: var(--active-color);
}

#custom-parameters {
	margin-left: 10px;
	display: inline-block;
}

#custom-parameters * td {
	padding-right: 15px;
}

#export-parameters {
	margin-top: 20px;
}

#export-parameters > * {
	vertical-align: top;
}

.text-element {
	line-height: 25px;
}

.textButton {
	border: 0;
	width: 26px;
	height: 26px;
	background-color: white;
	background-image: url(../img/info.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

#rate-display {
	background-color: white;
	/* background-color: black; */
	width: calc(100% - 10px) !important;
	height: 250px;
	min-height: 299px !important;
	margin: 0 auto;
	box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
}

#saronInfoMessage .jmodal_title {
	height: 40px !important;
	font-size: 18px !important;
	font-family: var(--font-family) !important;
}

#saronInfoMessage .jmodal_content{
	padding-top: 5px;
}

#saronInfoMessage div.jmodal:after {
	display:none;
}

.point-annotation {
	border-color:rgb(41, 139, 168);
	background-color: white;
	transition: opacity 0.5s ease;
}

#dropzone { margin-right: 8px; }
#dropzone.dragging { border: var(--active-color) 3px solid; }
