.jexcel {
	border-top: 0;
}

.jexcel_content > table > thead > tr > td.arrow-down,
.jexcel_content > table > thead > tr > td.arrow-up {
	text-decoration: none;
	font-size-adjust: 0.8;
	font-size: 14px;
	font-weight: bold;
	background-image: none;
}

.jexcel_content > table > thead > tr > td,
.jexcel_content > table > tbody > tr > td {
	padding-top: 7px;
}

.jexcel_content > table > thead > tr > td {
	padding-bottom: 5px;
	font-weight: 700;
}

.jexcel_content > table > thead > tr > td.arrow-down:after {
	content: " ▲";
	font-size: 11px;
}

.jexcel_content > table > thead > tr > td.arrow-up:after {
	content: " ▼";
	font-size: 11px;
}

/* TABS */

.jexcel_tabs .jexcel_tab_link {
	display: none;
}

.jexcel_content {
	padding: 0;
}

.jexcel > tbody > tr:last-child .jexcel_corner,
.jexcel > tbody > tr > td:last-child .jexcel_corner {
	display: none;
}

.jexcel_corner {
	border: 0;
	padding: 4px 0 0 4px;
	margin: -2px 0 0 -2px;
}

/* TEXT FORMAT */
.jexcel * {
	font-family: sans-serif;
}

/* SEARCH CONTAI£NER */

.jexcel_filter > div:nth-child(1) {
	display: none;
}

/* COLORS */

.jexcel_tabs .jexcel_tab_link,
.jexcel_toolbar,
.jexcel_filter,
.jexcel > tbody > tr > td:first-child,
.jexcel > tfoot > tr > td,
.jexcel > thead > tr > td {
	background-color: #e8ecf0;
}

.jexcel_tabs .jexcel_tab_link.selected,
.jexcel > tbody > tr.selected > td:first-child,
.jexcel > thead > tr > td.selected{
	background-color:rgb(206, 226, 255);
}

.jexcel .highlight {
	background-color:rgba(186, 214, 255, 0.2);
}

.jexcel .editor .jexcel_richtext, .jexcel .editor > input {
	font-size: 1em;
}

.jexcel_filter {
	border: 1px solid #ccc;
	margin: 0 0 -1px 1px;
}

.jexcel_filter > div {
	padding: 5px 8px 6px 8px;
	align-items: center;
	border-top: 0;
}

.jexcel > thead > tr:first-child > td {
	border-top: 0;
}

.jexcel > thead > tr:nth-child(2) > td {
	border-top: 0;
	border-bottom: 1px solid #ccc;
}

.jexcel_overflow > tbody > tr:last-child > td {
	border-bottom: 5px transparent;
}

.jexcel .jexcel_overflow {
	border-bottom: 0;
	border-bottom: 1px transparent;
}

.jexcel_content {
	margin-right: 0.7em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.jexcel .jexcel_overflow {
	border: 0;
}

.jexcel {
	border-bottom: 0;
	border-right: 1px solid #ccc;
}

.jexcel_content::-webkit-scrollbar {
	min-height: 32px;
}

.jexcel_content::-webkit-scrollbar:vertical {
	min-height: 32px;
	min-width: 10px;
}

.jexcel_content::-webkit-scrollbar:horizontal {
	display: none;
	width: 0;
	height: 0;
}

.jexcel_content::-webkit-scrollbar-button {
	display: none;
}

.jexcel_content::-webkit-scrollbar-corner {
	display: none;
	width: 0;
	height: 0;
}

.jexcel_content::-webkit-scrollbar-thumb {
	min-width: 18px;
	min-height: 18px;
	background-color: #aaa;
}

/* Safari specific */
@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		.jexcel_content {
			padding-right: 10px;
		}
	}
}

/* Firefox specific */

@-moz-document url-prefix() {
	.jexcel_content {
		padding-right: 1em;
	}
}

.jexcel_content {
	width: 305px;
}

.jexcel_content_with_search_filter {
	max-height: calc(100vh - 81px);
}
